Repository silvenon/poly-zg: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# git hooks

pre-commit:
  piped: true
  commands:
    eslint:
      priority: 1
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --fix {staged_files}
    prettier:
      priority: 2
      glob: "*.{js,ts,jsx,tsx,mdx,css,json,yml,yaml,webmanifest}"
      run: npx prettier --write {staged_files}

pre-push:
  parallel: true
  commands:
    eslint-check-config:
      run: npm run lint:check
    eslint:
      run: npm run lint
    prettier:
      run: npm run format:check
    vitest:
      run: npm run test:unit
    playwright:
      run: npm run test:e2e -- --reporter=list
    typescript:
      run: npm run typecheck

# custom tasks

setup:
  parallel: true
  commands:
    playwright:
      run: npx playwright install --with-deps

Update navigation styling
  app/components/NavBar.tsx
Due: eslint, prettier

Bump dependencies and uninstall unused ones
  package-lock.json
  package.json
Due: prettier

Use recommended version of Fly.io GitHub action
  .github/workflows/deploy.yml
Due: prettier

Prevent inlining assets because of the SVG sprite
  vite.config.ts
Due: eslint, prettier

By default test built app
  playwright.config.ts
Due: eslint, prettier

Build app on pre-push before testing
  lefthook.yml
Due: prettier

Use Vite's built-ins instead of NODE_ENV
  app/root.tsx
  app/utils.ts
Due: eslint, prettier

Exclude only SVG sprite from asset inlining
  vite.config.ts
Due: eslint, prettier

Rename component
  app/components/Book.tsx
Due: eslint, prettier

Add more icons the sprite sheet
  app/sprite.svg
Due: none

Remove Metronome
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, prettier
