Repository silvenon/poly-zg: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --fix {staged_files}

prettier:
  run: npx prettier --write {staged_files}

Darken card image on hover
  app/components/MeetupCard.tsx
Due: eslint, prettier

Add a page not found route
  app/routes/$.tsx
Due: eslint, prettier

Rename CI jobs
  .github/workflows/deploy.yml
Due: prettier

Move Prettier config out of package.json
  .eslintignore
  .prettierrc.js
  package.json
Due: eslint, prettier

Don't ignore Prettier config regardless of ext
  .eslintignore
Due: none

Don't run tests with coverage
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Due: prettier

Connect TypeScript configs with references
  .github/workflows/deploy.yml
  .gitignore
  lefthook.yml
  package.json
  playwright/.eslintrc.cjs
  tsconfig.app.json
  tsconfig.e2e.json
  tsconfig.json
Due: prettier

Use specific extension
  .eslintrc.cjs
Due: none

Remove unnecessary TypeScript config
  tsconfig.app.json
  tsconfig.e2e.json
Due: prettier

Merge both TypeScript configs
  .github/workflows/deploy.yml
  .gitignore
  lefthook.yml
  package.json
  tsconfig.app.json
  tsconfig.e2e.json
  tsconfig.json
Due: prettier

Fix infinite redirect loop with literature
  app/routes/literature.tsx
  public/books/more-than-two.jpg
  public/books/sex-at-dawn.jpg
  public/books/the-ethical-slut.jpg
Due: eslint, prettier

Add trailing newline
  public/icon.svg
Due: none

Add cache busting to the SVG sprite
  app/icons.test.tsx
  app/icons.tsx
  app/sprite.svg
  public/sprite.svg
Due: eslint, prettier

Simplify ESLint config globs
  .eslintrc.cjs
Due: none

Migrate to Vite Remix plugin
  app/root.tsx
  env.d.ts
  package-lock.json
  package.json
  remix.config.js
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: eslint, prettier

Simplify Node version requirement
  package-lock.json
  package.json
Due: prettier

Align required Node version with @type/node
  .github/workflows/deploy.yml
  Dockerfile
  package-lock.json
  package.json
Due: prettier

Add setup as a first custom lefthook task
  lefthook.yml
  package.json
Due: prettier

Report unused ESLint disable directives
  package.json
Due: prettier

Add Prettier check to CI
  .github/workflows/deploy.yml
  lefthook.yml
  package.json
Due: prettier

Reuse tasks via npm scripts
  .github/workflows/deploy.yml
  lefthook.yml
Due: prettier

Use list reporter when running E2E in pre-push
  lefthook.yml
Due: prettier

Use ES2022 as TypeScript's target
  tsconfig.json
Due: prettier

Add Prettier config as the last ESLint override
  .eslintrc.cjs
Due: none

Use piped for pre-commit commands to fail early
  lefthook.yml
Due: prettier

Stage changed files during pre-commit
  lefthook.yml
Due: prettier

Format all on pre-commit and simply ignore unknown
  lefthook.yml
Due: prettier

Rename setup command
  lefthook.yml
Due: prettier

Test in Webkit as well
  playwright.config.ts
Due: eslint, prettier

Use .gitignore for both Prettier and ESLint
  .eslintignore
  .prettierignore
  lefthook.yml
  package.json
Due: prettier

Format SVG files with HTML parser
  .prettierrc.js
  .vscode/settings.json
  public/icon.svg
  public/meetup.svg
Due: eslint, prettier

Use ESM in Tailwind config
  tailwind.config.js
Due: eslint, prettier

Remove unnecessary declaration file
  env.d.ts
  tsconfig.json
Due: eslint, prettier

Split root and E2E tests into TS references
  .eslintrc.cjs
  e2e/smoke.test.ts
  package-lock.json
  package.json
  playwright.config.ts
  playwright/.eslintrc.cjs
  setup-test-env.ts
  tsconfig.app.json
  tsconfig.e2e.json
  tsconfig.json
  vite.config.ts
Due: eslint, prettier

Add Metronome
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: eslint, prettier

Bump Remix
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, prettier

Delete unused file
  .env.example
Due: none

Remove usage of uninstalled dependency
  playwright.config.ts
Due: eslint, prettier

Update ignore files
  .dockerignore
  .gitignore
Due: none

Don't wrap icons into components
  app/components/MeetupCard.tsx
  app/icons.test.tsx
  app/icons.tsx
  app/sprite.svg
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,mdx,css,json,yml,yaml,webmanifest}
